:root {
    --url:url("https://source.unsplash.com/random/1920x1080/?storm");
}

body {
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    background-image: url("https://source.unsplash.com/random/1920x1080/?storm"); 
    /* background: var(--url); */
    font-size: 120%;
}


.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 0.5em;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    height: 46px;
    outline: none;
    width: 46px;
    background: #7c7c7c2b;
    color: white;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    padding: .5em 1em;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp{
    margin: 0;
    font-size: 130%;
}
div#temp {
    font-size: 200%;
}